.volunteer-container {
    position: relative;
    text-align: center;
}

.form-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
.hidden {
    display: none;
}

.background-image {
border-radius: 12px;
    width: 100%;
    height: auto;
    opacity: 0.5;
}



#a{
    margin-top: -550px;
}
