body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.landing-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.landing-button {
    text-decoration: none;
}

.circle {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s;
}

.blue-circle {
    margin-left: 300px;
    background-color: lightblue;
    position: relative;
}

.green-circle {
    margin-right: 300px;
    background-color: lightgreen;
}

.blue-circle:hover {
    background-image: url("c0106900-800px-wm.jpg");
    background-size: 270px;
    opacity: 0.8;
}

.green-circle:hover {
    background-image: url("images.jpg");
    background-size: 305px;
}

.hidden {
    display: none;
}



  @keyframes square-to-circle {
    0%  {
      border-radius:0 0 0 0;
      background:coral;
      transform:rotate(0deg);
    }
    25%  {
      border-radius:50% 0 0 0;
      background:darksalmon;
      transform:rotate(90deg);
    }
    50%  {
      border-radius:50% 50% 0 0;
      background:indianred;
      transform:rotate(180deg);
    }
    75%  { 
      border-radius:50% 50% 50% 0;
      background:lightcoral;
      transform:rotate(270deg);
    }
    100% {  
      border-radius:50%;
      background:darksalmon;
      transform:rotate(360deg);
    }
  }  